@model int

<div class="container pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Succesfull!</h1>
        Your Order Number is : @Model <br /><br />
    </div>
    <div class="col-12 text-center text-success">
        <br />
        Your payment has been applied successfully
        <br /> 
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">Back to Home</a>
    </div>
</div>
